
header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{

  transform: rotate(-15deg);
  position:relative;
  width: 100px;
  height: 100px;
  
  -webkit-animation: rodaroda 4s linear alternate 3;
  animation: rodaroda 4s linear infinite;
}
/* KEY FRAMES PARA FAZER OS GIROS DA LOGO*/

@-webkit-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

header > h1{
  color:#1953aa;
  display: inline-block;
  font-size: 40px;
  margin-right: 20px;
}

main, section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > h2{
  color:#11305e;
  font-size: 32px;
  padding: 16px;
}

main > h3{
  color: #10418b;
}

p{
  color:#14325e;
  font-size: 24px;
}

a{
  color:#14325e;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

